BackSRC/AlmoxarifadoSLN/.vs
BackSRC/AlmoxarifadoSLN/AlmoxarifadoAPI\bin/
BackSRC/AlmoxarifadoSLN/AlmoxarifadoAPI/obj/
*.user
*.csproj
*.dll
*.cache
/BackSRC/AlmoxarifadoBackSLN/.vs/AlmoxarifadoBackSLN/FileContentIndex
*.vsidx
/BackSRC/AlmoxarifadoBackSLN/.vs/AlmoxarifadoBackSLN/FileContentIndex
/BackSRC/AlmoxarifadoBackSLN/.vs/AlmoxarifadoBackSLN
BackSRC/AlmoxarifadoBackSLN/.vs/AlmoxarifadoBackSLN/FileContentIndex/c7226096-ba0f-40d8-a8fa-180d54155390.vsidx
/BackSRC/AlmoxarifadoBackSLN
/BackSRC/AlmoxarifadoBackSLN
BackSRC/AlmoxarifadoBackSLN/.vs/AlmoxarifadoBackSLN/FileContentIndex/07c4c46f-c129-4ce2-aa33-058232794186.vsidx
BackSRC/AlmoxarifadoBackSLN/.vs/AlmoxarifadoBackSLN/FileContentIndex/969b19ce-b1e8-4d78-bd42-96f9a7316f7f.vsidx
BackSRC/AlmoxarifadoBackSLN/.vs/AlmoxarifadoBackSLN/FileContentIndex/c7226096-ba0f-40d8-a8fa-180d54155390.vsidx
